In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data


import env
import acquire
import prepare

IndentationError: expected an indented block (prepare.py, line 44)

In [2]:
df_iris = data('iris')
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape

(150, 5)

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [66]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
df_iris["Sepal.Length"].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: Sepal.Length, dtype: float64

In [8]:
df_iris["Sepal.Width"].describe()

count    150.000000
mean       3.057333
std        0.435866
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: Sepal.Width, dtype: float64

In [9]:
df_iris["Petal.Length"].describe()

count    150.000000
mean       3.758000
std        1.765298
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: Petal.Length, dtype: float64

In [10]:
df_iris["Petal.Width"].describe()

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: Petal.Width, dtype: float64

In [15]:
df_excel = pd.read_csv("Table1_CustDetails.csv")

In [16]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

In [17]:
df_excel_sample = pd.read_clipboard()

In [19]:
df_excel_sample.shape

(99, 12)

In [21]:
df_excel.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [22]:
df_excel.iloc[: , :5]

     customer_id  gender  is_senior_citizen partner dependents
0     0002-ORFBO  Female                  0     Yes        Yes
1     0003-MKNFE    Male                  0      No         No
2     0004-TLHLJ    Male                  0      No         No
3     0011-IGKFF    Male                  1     Yes         No
4     0013-EXCHZ  Female                  1     Yes         No
...          ...     ...                ...     ...        ...
7044  9987-LUTYD  Female                  0      No         No
7045  9992-RRAMN    Male                  0     Yes         No
7046  9992-UJOEL    Male                  0      No         No
7047  9993-LHIEB    Male                  0     Yes        Yes
7048  9995-HOTOH    Male                  0     Yes        Yes

[7049 rows x 5 columns]

In [23]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [26]:
df_excel.select_dtypes(include ='object')

     customer_id  gender partner dependents      payment_type churn
0     0002-ORFBO  Female     Yes        Yes      Mailed check    No
1     0003-MKNFE    Male      No         No      Mailed check    No
2     0004-TLHLJ    Male      No         No  Electronic check   Yes
3     0011-IGKFF    Male     Yes         No  Electronic check   Yes
4     0013-EXCHZ  Female     Yes         No      Mailed check   Yes
...          ...     ...     ...        ...               ...   ...
7044  9987-LUTYD  Female      No         No      Mailed check    No
7045  9992-RRAMN    Male     Yes         No  Electronic check   Yes
7046  9992-UJOEL    Male      No         No      Mailed check    No
7047  9993-LHIEB    Male     Yes        Yes      Mailed check    No
7048  9995-HOTOH    Male     Yes        Yes  Electronic check    No

[7049 rows x 6 columns]

In [27]:
df_excel.select_dtypes(include =('int64', 'float64'))

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges
0,0,1,1,1,65.60,593.30
1,0,2,1,0,59.90,542.40
2,0,1,2,0,73.90,280.85
3,1,1,2,0,98.00,1237.85
4,1,1,2,0,83.90,267.40
...,...,...,...,...,...,...
7044,0,1,1,1,55.15,742.90
7045,0,2,2,0,85.10,1873.70
7046,0,1,1,0,50.30,92.75
7047,0,1,1,2,67.85,4627.65
7048,0,0,1,2,59.00,3707.60

In [30]:
df_excel.monthly_charges.max() - df_excel.monthly_charges.min()

100.5

In [31]:
df_excel.total_charges.max() - df_excel.total_charges.min()

8666.0

In [36]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
csv_export_url

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357'

In [38]:
df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [39]:
df_google.shape

(891, 12)

In [40]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [41]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [42]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [69]:
df_google['Sex'].value_counts().dropna()

male      577
female    314
Name: Sex, dtype: int64

In [70]:
df_google['Pclass'].value_counts().dropna()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [68]:
df_google['Embarked'].value_counts().dropna()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [61]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [53]:
import env
import pandas as pd
import os

# Get titanic .csv Data
def get_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile(filename):
        titanic = pd.read_csv(filename)
    else:
        titanic = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))
        titanic.to_csv(index = False)
    return titanic

In [54]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [55]:
def get_iris_data():
    filename = "iris.csv"

    if os.path.isfile(filename):
        iris = pd.read_csv(filename)
    else:
        iris = pd.read_sql('SELECT * FROM species JOIN measurements using(species_id)', get_connection('iris_db'))
        iris.to_csv(index = False)
    return iris

In [56]:
get_iris_data()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

# Data Prep Exercises

# Part 1 With Iris Data

In [11]:
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2

In [12]:
def prep_iris(df):
    '''
    This function will clean the data
    '''
    #df = df.drop_duplicates()
    
    cols_to_drop = ['species_id', 'measurement_id']
    df = df.drop(columns = cols_to_drop)
    
    
    df = df.rename(columns={'species_name': 'species'})
    #df['embark_town'] = df.embark_town.fillna(value = 'Southampton')
    
    #dummy_df = pd.get_dummies(df[['species']], dummy_na = False, drop_first = [True, True])
    dummy_df = pd.get_dummies(iris_df[['species_id']], dummy_na = False, drop_first = True)
    
    df = pd.concat([df, dummy_df], axis = 1)
    
    return df

In [13]:
iris_df = prep_iris(iris_df)
iris_df.head(20)

   species  sepal_length  sepal_width  petal_length  petal_width  species_id
0   setosa           5.1          3.5           1.4          0.2           1
1   setosa           4.9          3.0           1.4          0.2           1
2   setosa           4.7          3.2           1.3          0.2           1
3   setosa           4.6          3.1           1.5          0.2           1
4   setosa           5.0          3.6           1.4          0.2           1
5   setosa           5.4          3.9           1.7          0.4           1
6   setosa           4.6          3.4           1.4          0.3           1
7   setosa           5.0          3.4           1.5          0.2           1
8   setosa           4.4          2.9           1.4          0.2           1
9   setosa           4.9          3.1           1.5          0.1           1
10  setosa           5.4          3.7           1.5          0.2           1
11  setosa           4.8          3.4           1.6          0.2           1
12  setosa           4.8          3.0           1.4          0.1           1
13  setosa           4.3          3.0           1.1          0.1           1
14  setosa           5.8          4.0           1.2          0.2           1
15  setosa           5.7          4.4           1.5          0.4           1
16  setosa           5.4          3.9           1.3          0.4           1
17  setosa           5.1          3.5           1.4          0.3           1
18  setosa           5.7          3.8           1.7          0.3           1
19  setosa           5.1          3.8           1.5          0.3           1

# Part 2 With Titanic Data

In [16]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [17]:
def prep_titanic(df):
    '''
    This function will clean the data
    '''
    df = df.drop_duplicates()
    
    cols_to_drop = ['deck', 'embarked', 'class', 'age']
    df = df.drop(columns = cols_to_drop)
    
    df['embark_town'] = df.embark_town.fillna(value = 'Southampton')
  
    dummy_df = pd.get_dummies(df[['sex','embark_town']], dummy_na = False, drop_first = [True, True])

    df = pd.concat([df, dummy_df], axis = 1)
    
    return df

In [18]:
titanic_df = prep_titanic(titanic_df)
titanic_df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

# Part 3 With Telco

In [39]:
telco_df = acquire.get_telco_data()
telco_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.4,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic)

In [34]:
telco_df.head(10)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,3,0016-QLJIS,Female,0,Yes,Yes,65,Yes,...,Yes,Yes,Yes,Yes,90.45,5957.90,No,Two year,DSL,Mailed check
1,4,1,3,0017-DINOC,Male,0,No,No,54,No,...,Yes,Yes,No,No,45.20,2460.55,No,Two year,DSL,Credit card (automatic)
2,3,1,3,0019-GFNTW,Female,0,No,No,56,No,...,Yes,No,No,No,45.05,2560.10,No,Two year,DSL,Bank transfer (automatic)
3,4,1,3,0056-EPFBG,Male,0,Yes,Yes,20,No,...,Yes,No,No,Yes,39.40,825.40,No,Two year,DSL,Credit card (automatic)
4,3,1,3,0078-XZMHT,Male,0,Yes,No,72,Yes,...,Yes,Yes,Yes,Yes,85.15,6316.20,No,Two year,DSL,Bank transfer (automatic)
5,3,1,3,0114-IGABW,Female,0,Yes,No,71,No,...,Yes,Yes,Yes,No,58.25,4145.90,No,Two year,DSL,Bank transfer (automatic)
6,2,1,3,0123-CRBRT,Female,0,Yes,Yes,61,Yes,...,Yes,Yes,Yes,No,88.10,5526.75,No,Two year,DSL,Mailed check
7,3,1,3,0191-EQUUH,Female,0,No,Yes,25,No,...,Yes,No,No,No,35.05,844.45,No,Two year,DSL,Bank transfer (automatic)
8,3,1,3,0214-JHPFW,Female,0,Yes,No,70,No,...,Yes,Yes,Yes,No,57.80,4039.30,No,Two year,DSL,Bank transfer (automatic)
9,3,1,3,0229-LFJAF,Male,0,No,No,72,Yes,...,Yes,No,No,No,69.65,4908.25,No,Two year,DSL,Bank transfer (automatic)

In [33]:
telco_df = telco_df.drop_duplicates()

In [35]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   float64
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(2), int64(5), object(17)
memory usage: 1.3+ MB

In [36]:
telco_df.isna().sum()

payment_type_id             0
internet_service_type_id    0
contract_type_id            0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type       0
payment_type                0
dtype: int64

In [29]:
telco_df['total_charges'] = telco_df.total_charges.replace(' ', 0)

In [30]:
telco_df['total_charges'] = telco_df.total_charges.astype('float64')

In [40]:
def prep_telco(df):
    '''
    This function will clean the data
    '''
    df = df.drop_duplicates()
    
    cols_to_drop = ['tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'payment_type_id',
                   'internet_service_type_id', 'contract_type_id', 'online_security', 'online_backup',
                   'device_protection']
    df = df.drop(columns = cols_to_drop)
    
  
    telco_df['total_charges'] = telco_df.total_charges.replace(' ', 0)
    telco_df['total_charges'] = telco_df.total_charges.astype('float64')

    dummy_df = pd.get_dummies(df[['gender','senior_citizen', 'partner', 'dependents',
                                 'churn']], dummy_na = False, drop_first = [True, True, True, True, True, True
                                                                                  , True, True])

    df = pd.concat([df, dummy_df], axis = 1)
    
    return df

In [41]:
telco_df = prep_telco(telco_df)
telco_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,senior_citizen,gender_Male,partner_Yes,dependents_Yes,churn_Yes
0,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,90.45,5957.9,No,Two year,DSL,Mailed check,0,0,1,1,0
1,0017-DINOC,Male,0,No,No,54,No,No phone service,45.20,2460.55,No,Two year,DSL,Credit card (automatic),0,1,0,0,0
2,0019-GFNTW,Female,0,No,No,56,No,No phone service,45.05,2560.1,No,Two year,DSL,Bank transfer (automatic),0,0,0,0,0
3,0056-EPFBG,Male,0,Yes,Yes,20,No,No phone service,39.40,825.4,No,Two year,DSL,Credit card (automatic),0,1,1,1,0
4,0078-XZMHT,Male,0,Yes,No,72,Yes,Yes,85.15,6316.2,No,Two year,DSL,Bank transfer (automatic),0,1,1,0,0