In [2]:
import pandas as pd

from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

Predicted to be a cat where it is actually a dog is the FP

Predicted to be a dog where it is actually a cat is a FN

In [32]:
tp = 46
tn = 34
fp = 7
fn = 13

In [ ]:
= (tp + tn) / (tp + tn + fp + fn)
= tp / ()

In [4]:
c3 = pd.read_csv('c3.csv')
c3

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [36]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [5]:
pd.crosstab(c3.model1, c3.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [6]:
pd.crosstab(c3.model2, c3.actual)

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [7]:
pd.crosstab(c3.model3, c3.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [8]:
c3['baseline_prediction'] = 'Defect'
c3

        actual     model1     model2     model3 baseline_prediction
0    No Defect  No Defect     Defect  No Defect              Defect
1    No Defect  No Defect     Defect     Defect              Defect
2    No Defect  No Defect     Defect  No Defect              Defect
3    No Defect     Defect     Defect     Defect              Defect
4    No Defect  No Defect     Defect  No Defect              Defect
..         ...        ...        ...        ...                 ...
195  No Defect  No Defect     Defect     Defect              Defect
196     Defect     Defect  No Defect  No Defect              Defect
197  No Defect  No Defect  No Defect  No Defect              Defect
198  No Defect  No Defect     Defect     Defect              Defect
199  No Defect  No Defect  No Defect     Defect              Defect

[200 rows x 5 columns]

In [11]:
model_accuracy = (c3.actual == c3.model1).mean()
baseline_accuracy = (c3.actual == c3.baseline_prediction).mean()

print(f'model-1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (c3.actual == c3.model2).mean()
baseline_accuracy = (c3.actual == c3.baseline_prediction).mean()

print(f'model-2 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (c3.actual == c3.model3).mean()
baseline_accuracy = (c3.actual == c3.baseline_prediction).mean()

print(f'model-3 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model-1 accuracy: 95.00%
baseline accuracy: 8.00%
-------------------------------------
-------------------------------------
model-2 accuracy: 56.00%
baseline accuracy: 8.00%
-------------------------------------
-------------------------------------
model-3 accuracy: 55.50%
baseline accuracy: 8.00%

In [12]:
subset = c3[c3.actual == 'Defect']
subset

     actual     model1     model2     model3 baseline_prediction
13   Defect  No Defect     Defect     Defect              Defect
30   Defect     Defect  No Defect     Defect              Defect
65   Defect     Defect     Defect     Defect              Defect
70   Defect     Defect     Defect     Defect              Defect
74   Defect  No Defect  No Defect     Defect              Defect
87   Defect  No Defect     Defect     Defect              Defect
118  Defect  No Defect     Defect  No Defect              Defect
135  Defect     Defect  No Defect     Defect              Defect
140  Defect  No Defect     Defect     Defect              Defect
147  Defect     Defect  No Defect     Defect              Defect
163  Defect     Defect     Defect     Defect              Defect
171  Defect  No Defect     Defect     Defect              Defect
176  Defect  No Defect     Defect     Defect              Defect
186  Defect  No Defect  No Defect  No Defect              Defect
194  Defect     Defect  No Defect     Defect              Defect
196  Defect     Defect  No Defect  No Defect              Defect

In [14]:
# calculate recall for model and baseline for model 1
model_recall = (subset.actual == subset.model1).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

print('-------------------------------------')
print('-------------------------------------')



# calculate recall for model and baseline
model_recall = (subset.actual == subset.model2).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

print('-------------------------------------')
print('-------------------------------------')


# calculate recall for model and baseline
model_recall = (subset.actual == subset.model3).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

model recall: 50.00%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model recall: 56.25%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model recall: 81.25%
baseline recall: 100.00%

We want to test for recall to test if we can find defectives (AKA TP and FP). Based of this table we see that model-3 
would be the best at capturing and finding wiht 81% accuracy.

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

FOr this problem we'll be trying to maximize our percision on this issue and reduce our FP(defective ducks that are not actually defective)

In [15]:
# Precision: # only look at the subset where we made positive prediction
# (i.e. prediction == 'coffee')

subset = c3[c3.model1 == 'Defect']
subset

        actual  model1     model2     model3 baseline_prediction
3    No Defect  Defect     Defect     Defect              Defect
30      Defect  Defect  No Defect     Defect              Defect
62   No Defect  Defect  No Defect  No Defect              Defect
65      Defect  Defect     Defect     Defect              Defect
70      Defect  Defect     Defect     Defect              Defect
135     Defect  Defect  No Defect     Defect              Defect
147     Defect  Defect  No Defect     Defect              Defect
163     Defect  Defect     Defect     Defect              Defect
194     Defect  Defect  No Defect     Defect              Defect
196     Defect  Defect  No Defect  No Defect              Defect

In [17]:
model_precision = (subset.actual == subset.model1).mean()
print(f'model1 precision: {model_precision:.2%}')

# Baseline Precision: # only look at the subset where we made positive prediction (i.e. model1 == 'Defect')

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.actual == subset.model1).mean()
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.00%
baseline precision: 95.00%

In [20]:
subset = c3[c3.model2 == 'Defect']
subset

        actual     model1  model2     model3 baseline_prediction
0    No Defect  No Defect  Defect  No Defect              Defect
1    No Defect  No Defect  Defect     Defect              Defect
2    No Defect  No Defect  Defect  No Defect              Defect
3    No Defect     Defect  Defect     Defect              Defect
4    No Defect  No Defect  Defect  No Defect              Defect
..         ...        ...     ...        ...                 ...
183  No Defect  No Defect  Defect  No Defect              Defect
185  No Defect  No Defect  Defect  No Defect              Defect
193  No Defect  No Defect  Defect     Defect              Defect
195  No Defect  No Defect  Defect     Defect              Defect
198  No Defect  No Defect  Defect     Defect              Defect

[90 rows x 5 columns]

In [21]:
model_precision = (subset.actual == subset.model2).mean()
print(f'model2 precision: {model_precision:.2%}')

# Baseline Precision: # only look at the subset where we made positive prediction (i.e. model1 == 'Defect')

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.actual == subset.model2).mean()
print(f'baseline precision: {baseline_precision:.2%}')

model2 precision: 10.00%
baseline precision: 56.00%

In [22]:
subset = c3[c3.model3 == 'Defect']
subset

        actual     model1     model2  model3 baseline_prediction
1    No Defect  No Defect     Defect  Defect              Defect
3    No Defect     Defect     Defect  Defect              Defect
5    No Defect  No Defect  No Defect  Defect              Defect
9    No Defect  No Defect  No Defect  Defect              Defect
13      Defect  No Defect     Defect  Defect              Defect
..         ...        ...        ...     ...                 ...
193  No Defect  No Defect     Defect  Defect              Defect
194     Defect     Defect  No Defect  Defect              Defect
195  No Defect  No Defect     Defect  Defect              Defect
198  No Defect  No Defect     Defect  Defect              Defect
199  No Defect  No Defect  No Defect  Defect              Defect

[99 rows x 5 columns]

In [23]:
model_precision = (subset.actual == subset.model3).mean()
print(f'model3 precision: {model_precision:.2%}')

# Baseline Precision: # only look at the subset where we made positive prediction (i.e. model1 == 'Defect')

subset = c3[c3.baseline_prediction == 'Defect']
baseline_precision = (subset.actual == subset.model3).mean()
print(f'baseline precision: {baseline_precision:.2%}')

model3 precision: 13.13%
baseline precision: 55.50%

Based on these resaults we can see that model 1 has an 80% chance of percision!

# Part 4

In [19]:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [20]:
paws['baseline_prediction'] = 'dog'
paws.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [28]:
pd.crosstab(paws.model1, paws.actual)

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [29]:
pd.crosstab(paws.model2, paws.actual)

actual   cat   dog
model2
cat     1555  1657
dog      191  1597

In [30]:
pd.crosstab(paws.model3, paws.actual)

actual  cat   dog
model3
cat     893  1599
dog     853  1655

In [31]:
pd.crosstab(paws.model4, paws.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [34]:
model_accuracy = (paws.actual == paws.model1).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model2).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-2 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model3).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-3 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model4).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-4 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model-1 accuracy: 80.74%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-2 accuracy: 63.04%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-3 accuracy: 50.96%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-4 accuracy: 74.26%
baseline accuracy: 65.08%

Seems model-1 has better accuracy overall with a 80% over the 65% baseline accuracy

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

We'll look for recall here:

In [21]:
paws['baseline_prediction'] = 'dog'
paws

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [39]:
subset = paws[paws.actual == 'dog']
subset

     actual model1 model2 model3 model4 baseline_prediction
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
5       dog    dog    dog    dog    dog                 dog
8       dog    dog    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4993    dog    dog    cat    dog    dog                 dog
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[3254 rows x 6 columns]

In [41]:
model_recall = (subset.actual == subset.model1).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model1 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

print('-------------------------------------')
print('-------------------------------------')



# calculate recall for model and baseline
model_recall = (subset.actual == subset.model2).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model2 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

print('-------------------------------------')
print('-------------------------------------')


# calculate recall for model and baseline
model_recall = (subset.actual == subset.model3).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model3 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

print('-------------------------------------')
print('-------------------------------------')


# calculate recall for model and baseline
model_recall = (subset.actual == subset.model4).mean()
baseline_recall =  (subset.actual == subset.baseline_prediction).mean()

print(f'model4 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall:.2%}')

model1 recall: 80.33%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model2 recall: 49.08%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model3 recall: 50.86%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model4 recall: 95.57%
baseline recall: 100.00%

Model 4 with 95% checking for recall would be the model I use for phase I for checking for dogs.

In [42]:
model_accuracy = (paws.actual == paws.model1).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-1 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model2).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-2 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model3).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-3 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

print('-------------------------------------')
print('-------------------------------------')

model_accuracy = (paws.actual == paws.model4).mean()
baseline_accuracy = (paws.actual == paws.baseline_prediction).mean()

print(f'model-4 accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

model-1 accuracy: 80.74%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-2 accuracy: 63.04%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-3 accuracy: 50.96%
baseline accuracy: 65.08%
-------------------------------------
-------------------------------------
model-4 accuracy: 74.26%
baseline accuracy: 65.08%

For Phase II, is what I would use model - 1

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [22]:
paws['baseline_prediction2'] = 'cat'
paws

,actual,model1,model2,model3,model4,baseline_prediction,baseline_prediction2
0,cat,cat,dog,cat,dog,dog,cat
1,dog,dog,cat,cat,dog,dog,cat
2,dog,cat,cat,cat,dog,dog,cat
3,dog,dog,dog,cat,dog,dog,cat
4,cat,cat,cat,dog,dog,dog,cat
...,...,...,...,...,...,...,...
4995,dog,dog,dog,dog,dog,dog,cat
4996,dog,dog,cat,cat,dog,dog,cat
4997,dog,cat,cat,dog,dog,dog,cat
4998,cat,cat,cat,cat,dog,dog,cat
4999,dog,dog,dog,dog,dog,dog,cat

In [6]:
subset = paws[paws.actual == 'cat']
subset

,actual,model1,model2,model3,model4,baseline_prediction,baseline_prediction2
0,cat,cat,dog,cat,dog,dog,cat
4,cat,cat,cat,dog,dog,dog,cat
6,cat,cat,cat,cat,dog,dog,cat
7,cat,dog,cat,cat,dog,dog,cat
11,cat,cat,dog,cat,cat,dog,cat
...,...,...,...,...,...,...,...
4987,cat,dog,cat,dog,dog,dog,cat
4989,cat,cat,cat,dog,cat,dog,cat
4991,cat,cat,cat,cat,dog,dog,cat
4994,cat,cat,cat,dog,dog,dog,cat
4998,cat,cat,cat,cat,dog,dog,cat

In [7]:
model_recall = (subset.actual == subset.model1).mean()
baseline_recall2 =  (subset.actual == subset.baseline_prediction2).mean()

print(f'model1 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall2:.2%}')

print('-------------------------------------')
print('-------------------------------------')



# calculate recall for model and baseline
model_recall = (subset.actual == subset.model2).mean()
baseline_recall2 =  (subset.actual == subset.baseline_prediction2).mean()

print(f'model2 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall2:.2%}')

print('-------------------------------------')
print('-------------------------------------')


# calculate recall for model and baseline
model_recall = (subset.actual == subset.model3).mean()
baseline_recall2 =  (subset.actual == subset.baseline_prediction2).mean()

print(f'model3 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall2:.2%}')

print('-------------------------------------')
print('-------------------------------------')


# calculate recall for model and baseline
model_recall = (subset.actual == subset.model4).mean()
baseline_recall2 =  (subset.actual == subset.baseline_prediction2).mean()

print(f'model4 recall: {model_recall:.2%}')
print(f'baseline recall: {baseline_recall2:.2%}')

model1 recall: 81.50%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model2 recall: 89.06%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model3 recall: 51.15%
baseline recall: 100.00%
-------------------------------------
-------------------------------------
model4 recall: 34.54%
baseline recall: 100.00%

I would recommend model 2 for Phase I, and Model 1 for phase 2, model 2 would have a 89% in recall for cats!

In [11]:
recall_score(paws.actual, paws.model1, average= None)

array([0.81500573, 0.80331899])

In [12]:
recall_score(paws.actual, paws.model2, average= None)

array([0.8906071 , 0.49078058])

In [23]:
subset = paws[paws.actual == 'dog']
subset

,actual,model1,model2,model3,model4,baseline_prediction,baseline_prediction2
1,dog,dog,cat,cat,dog,dog,cat
2,dog,cat,cat,cat,dog,dog,cat
3,dog,dog,dog,cat,dog,dog,cat
5,dog,dog,dog,dog,dog,dog,cat
8,dog,dog,cat,dog,dog,dog,cat
...,...,...,...,...,...,...,...
4993,dog,dog,cat,dog,dog,dog,cat
4995,dog,dog,dog,dog,dog,dog,cat
4996,dog,dog,cat,cat,dog,dog,cat
4997,dog,cat,cat,dog,dog,dog,cat
4999,dog,dog,dog,dog,dog,dog,cat

In [31]:
models = [paws.model1, paws.model2, paws.model3, paws.model4, paws.baseline_prediction, paws.baseline_prediction2]
actual = paws.actual

for model in models:
    print(model.name)
    print(classification_report(actual, model))
    print('----------------------------------')
    print('----------------------------------')

model1
              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

----------------------------------
----------------------------------
model2
              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

----------------------------------
----------------------------------
model3
              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

----------------------------------
----------------------------------
model4
              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

----------------------------------
----------------------------------
baseline_prediction

/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

         cat       0.00      0.00      0.00      1746
         dog       0.65      1.00      0.79      3254

    accuracy                           0.65      5000
   macro avg       0.33      0.50      0.39      5000
weighted avg       0.42      0.65      0.51      5000

----------------------------------
----------------------------------
baseline_prediction2
              precision    recall  f1-score   support

         cat       0.35      1.00      0.52      1746
         dog       0.00      0.00      0.00      3254

    accuracy                           0.35      5000
   macro avg       0.17      0.50      0.26      5000
weighted avg       0.12      0.35      0.18      5000

----------------------------------
----------------------------------

/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))